<% provide(:title, @user.name) %>

<div class="row">
  <div class="span6 offset3">
    <h2> <%= gravatar_for @user, size: 170 %> </h2>

    <p><b>Имя:  </b> <%= @user.name %> </p>

    <p><b>Email:  </b> <%= @user.email %> </p>

    <p><b>Попыток угадать числа:  </b> <%= @user.secretnumber.try %> </p>

    <p><b>Угадано чисел:  </b>  <%= @user.secretnumber.win %> </p>
  </div>
</div>