<% provide(:title, @user.name) %>

<div class="row">
  <div class="span6 offset3">
    <h1>Игра</h1>
		<%= gravatar_for @user, size: 80 %>

		<b> | Имя:  </b> <%= @user.name %> <br>
		<b> | Email:  </b> <%= @user.email %> <br>
		<b> | Попыток угадать числа: </b> <%= @user.secretnumber.try %> <br>
		<b> | Угадано чисел: </b> <%= @user.secretnumber.win %> <hr>
		<h2>Загаданное число находится в диапазоне <br> от 0 до 100</h2>

    <%= form_tag("/logic", method: "get") do %>
      <%= render 'shared/error_messages' %>

      <%= label_tag(:user_number, "Я думаю, что это число:") %>
		  <%= text_field_tag(:user_number) %>

      <%= submit_tag("Проверить", class: "btn btn-large btn-primary") %>
		<% end %>

  </div>
</div>